* {
    box-sizing: border-box;
    font-family: 'Georgia';
    font-size: 10px;
}

input::-ms-clear {
    display: none;
}

.wrapper {
    width: 50vw;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #bec2d5;
}

.slider {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    padding: 3rem 0;
    overflow: hidden;
}

input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.img {
    display: flex;
    width: 400%;
}

.img-mem {
    width: 25%;
    height: 40vw;
    transition: all 1s ease;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.container-text {
    width: 40%;
    overflow: hidden;
}

.text-mem {
    overflow: hidden;
    display: flex;
    width: 400%;
    align-items: center;
}

.text-mem p {
    width: 25%;
    height: 100%;
    transition: all 1s ease;
    font-size: 2rem;
}

.controls-btn {
    width: 50%;
    column-gap: 2rem;
    display: flex;
}

label {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

label:hover .label-inner {
    background-color: #fff;
}

#mem1:checked~.controls .controls-btn .label1 .label-inner,
#mem2:checked~.controls .controls-btn .label2 .label-inner,
#mem3:checked~.controls .controls-btn .label3 .label-inner,
#mem4:checked~.controls .controls-btn .label4 .label-inner {
    background-color: black;
    border: .2rem solid #7EA6E0;
}

#mem1:checked~.controls .controls-btn .label1 .label-inner:hover,
#mem2:checked~.controls .controls-btn .label2 .label-inner:hover,
#mem3:checked~.controls .controls-btn .label3 .label-inner:hover,
#mem4:checked~.controls .controls-btn .label4 .label-inner:hover {
    border: .2rem solid #fff;
}

#mem1:checked~.controls .controls-btn .label1:hover .label-inner,
#mem2:checked~.controls .controls-btn .label2:hover .label-inner,
#mem3:checked~.controls .controls-btn .label3:hover .label-inner,
#mem4:checked~.controls .controls-btn .label4:hover .label-inner {
    border: .2rem solid #fff;
}

#mem1:checked~.img .first {
    margin-left: 0;
}

#mem2:checked~.img .first {
    margin-left: -25%;
}

#mem3:checked~.img .first {
    margin-left: -50%;
}

#mem4:checked~.img .first {
    margin-left: -75%;
}

#mem1:checked~.controls .container-text .text-mem .first {
    margin-left: 0;
}

#mem2:checked~.controls .container-text .text-mem .first {
    margin-left: -25%;
}

#mem3:checked~.controls .container-text .text-mem .first {
    margin-left: -50%;
}

#mem4:checked~.controls .container-text .text-mem .first {
    margin-left: -75%;
}

label .label-inner {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(126, 166, 240);
}

@media screen and (max-width: 768px) {
    .controls {
        flex-direction: column;
    }
    .container-text {
        width: 70%;
    }
    .text-mem p {
        font-size: 1rem;
    }
    .controls-btn {
        width: 70%;
        column-gap: 0.5rem;
    }
}