* {
    box-sizing: border-box;
    font-family: 'Georgia';
    font-size: 10px;
}

.wrapper {
    width: 50vw;
    height: 98vh;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: #bec2d5;
}

.slider {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0 auto;
    padding: 3rem 0;
    max-height: 95vh;
    overflow: hidden;
}

input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.img {
    display: flex;
    width: 400%;
}

.img-mem {
    width: 25%;
    height: 40vw;
    transition: all 1s ease;
}

.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.container-text {
    width: 40%;
    overflow: hidden;
}

.text-mem {
    overflow: hidden;
    display: flex;
    width: 400%;
    align-items: center;
}

.text-mem p {
    width: 25%;
    height: 100%;
    transition: all 1s ease;
    font-size: 2rem;
}

.controls-btn {
    width: 50%;
    column-gap: 2rem;
    display: flex;
}

label {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.label-inner {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgb(126, 166, 240);
}

label:hover .label-inner {
    background-color: #fff;
}